body, h1, h2, h3, h4, h5, h6, p, li, ul, ol, input, textarea, button {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

body {
  font-size: 12px;
  color: #333333;
}

li {
  list-style: none;
}
p, div, span, a, button, i, li {
  user-select: none;
}
